* {
    box-sizing: border-box;
}

a {
    color: #fff;
    text-decoration: none;
}

body {
    font-family: 'Amatic SC', cursive;
    background: #373B44;
}

#contain {
    display: flex;
    flex-direction: column;
    margin: 50px 100px;
    background: #fff;
}

.hidden {
    display: none;
}

.header {
    display: flex;
    justify-content: center;
    background: #4286f4;
    color: #fff;
    margin-bottom: 20px;
}

h1 {
    word-spacing: 30px;
    font-size: 50px;
}

#js-get-new-dogs-form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

label {
    font-size: 24px;
}

#new-dogs-entry {
    margin: 0 15px;
    width: 15%;
    text-align: center;
}

.dog-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.results-img {
    margin: 10px;
    border: 2px solid #000;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    background: #4286f4;
    color: #fff;
}

h3 {
    display: flex;
    align-items: center;
}

.psuedo-btn {
    padding: 20px;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.psuedo-btn:hover {
    background: #fff;
    color: blue;
    border: 2px solid #000;
    transition: all 1s;
}

@media screen and (max-width: 650px) {
    h1 {
        word-spacing: 10px;
    }
    #contain {
        margin: 0;
    }
    label {
        font-size: 15px;
    }
}

@media screen and (max-width: 560px) {
    h1 {
        word-spacing: 2px;
    }
}

@media screen and (max-width: 425px) {
    h1 {
        word-spacing: 0px;
        font-size: 35px;
    }
    .results-img {
        width: 300px;
    }
}

@media screen and (max-width: 320px) {
    h1 {
        font-size: 28px;
    }
    .psuedo-btn {
        padding: 1px;
    }
    .results-img {
        width: 300px;
    }
}